<!DOCTYPE html>
<html>

  {% include 2022_data/head.html %}


    <body id="page-top" class="index">

    {% include 2022_data/header-home.html %}

    <!-- Header -->
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Music Hack Day India<br></div>
                <div class="intro-lead-in">10th - 11th December, 2022</div>
                <div class="intro-lead-in">Bengaluru, India</div>
                <!-- <div class="intro-lead-in" style="font-size: 20px!important">First Edition</div> -->
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2022_data/intro.html %}
    {% include 2022_data/about.html %}

    {% include 2022_data/sponsors.html %}
    {% include 2022_data/contact.html %}
    {% include 2022_data/footer.html %}
    {% include 2022_data/js.html %}

    </body>
</html>