<!DOCTYPE html>
<html>

  {% include 2023_data/head.html %}


    <body id="page-top" class="index">

    {% include 2023_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Music Hack Day India<br></div>
                <div class="intro-lead-in">5th - 6th January, 2023</div>
                <div class="intro-lead-in">Bengaluru, India</div>
                <!-- <div class="intro-lead-in" style="font-size: 20px!important">First Edition</div> -->
                <a href="#intro" class="page-scroll btn btn-xl">Find out more</a>
            </div>
        </div>
    </header>

    <!-- {% include 2023_data/intro.html %}
    {% include 2023_data/about.html %}

    {% include 2023_data/sponsors.html %} -->
    {% include 2023_data/contact.html %}
    {% include 2023_data/footer.html %}
    {% include 2023_data/js.html %}

    </body>
</html>
