<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Music Hack Day India</title>
    <meta name="twitter:description" content="Music Hack Day India is a gathering of researchers, developers, creative coders, musicians, makers, engineers, audiophiles and more.">
    <meta property="og:description" content="Music Hack Day India is a gathering of researchers, developers, creative coders, musicians, makers, engineers, audiophiles and more.">
    <meta name="description" content="Music Hack Day India is a gathering of researchers, developers, creative coders, musicians, makers, engineers, audiophiles and more.">
    <meta name="twitter:title" content="Music Hack Day India">
    <meta property="og:image" content="https://musichackday.github.io/assets/img/Music Hack Day India 2024 Logo BG.png">
    <meta name="twitter:image" content="https://musichackday.github.io/assets/img/Music Hack Day India 2024 Logo BG.png">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="Music Hack Day India">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Music Hack Day India",
            "url": "https://musichackday.github.io"
        }
    </script>
    <link rel="icon" type="image/png" sizes="1080x1080" href="/assets/img/Music%20Hack%20Day%20India%202024%20Logo%20BG.png?h=a23f81b781998ae6ee96619fb74e99ca">
    <link rel="icon" type="image/png" sizes="1080x1080" href="/assets/img/Music%20Hack%20Day%20India%202024%20Logo%20BG.png?h=a23f81b781998ae6ee96619fb74e99ca">
    <link rel="icon" type="image/png" sizes="1080x1080" href="/assets/img/Music%20Hack%20Day%20India%202024%20Logo%20BG.png?h=a23f81b781998ae6ee96619fb74e99ca">
    <link rel="icon" type="image/png" sizes="1080x1080" href="/assets/img/Music%20Hack%20Day%20India%202024%20Logo%20BG.png?h=a23f81b781998ae6ee96619fb74e99ca">
    <link rel="icon" type="image/png" sizes="1080x1080" href="/assets/img/Music%20Hack%20Day%20India%202024%20Logo%20BG.png?h=a23f81b781998ae6ee96619fb74e99ca">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=f9b50ef9fae3fd6dd71d14c05da626ca">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css?h=1a305cab34f7b31a9600b11506fa5d05">
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top bg-light navbar-light" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#">Music Hack Day India</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link" href="#contactus">Contact us</a></li>
                    <li class="nav-item dropdown" style="padding: 8px;"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Past Events&nbsp;</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="https://musichackdayindia.github.io/2022" target="_blank">MDH 2022</a><a class="dropdown-item" href="https://musichackdayindia.github.io/2019" target="_blank">MHD 2019</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-white masthead" style="background: url(&quot;assets/img/Music%20Hack%20Day%20India%202024%20Logo%20BG.png?h=a23f81b781998ae6ee96619fb74e99ca&quot;) center / contain no-repeat, var(--bs-emphasis-color);margin-top: 75px;"></header>
    <section class="showcase" style="margin-top: 15px;padding: 14px;">
        <div class="container-fluid p-0" style="background: #ffffff;">
            <div class="row">
                <div class="col-xxl-10 offset-xxl-1" style="background: #f5f5f5;padding-top: 15px;padding-bottom: 15px;border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-lg-8 col-xl-4 col-xxl-5 offset-lg-2 offset-xl-0 offset-xxl-0 text-white align-self-center showcase-img" style="min-height: 0px;">
                            <div class="ratio ratio-16x9"><iframe src="https://www.youtube.com/embed/H7Vl2Jz4stg"></iframe></div>
                        </div>
                        <div class="col-lg-10 col-xl-8 col-xxl-7 offset-lg-1 offset-xl-0 offset-xxl-0 my-auto showcase-text" style="padding: 20px;">
                            <h2 class="text-center">Music Hack Day India 2024</h2>
                            <p class="lead mb-0" style="margin-top: 15px;text-align: justify;">Music Hack Day India is a gathering of researchers, developers, creative coders, musicians, makers, engineers, audiophiles and more.</p>
                            <p class="lead mb-0" style="margin-top: 15px;text-align: justify;">We are excited to bring you another fun hackathon scheduled for 5th &amp; 6th Jan, 2024 at Bangalore International Centre, Bengaluru, Karnataka.</p>
                            <p class="lead mb-0" style="margin-top: 15px;text-align: justify;">The hack day will be followed by the ADCx India main event on 7th Jan 2024 at the same venue.</p>
                        </div>
                        <div class="col-xxl-12" style="text-align: center;margin-top: 30px;margin-bottom: 30px;"><button class="btn btn-dark btn-lg disabled" type="button" disabled="">Registrations opening soon</button></div>
                    </div>
                    <hr style="margin-bottom: 30px;">
                    <div class="row g-0" style="margin-top: 20px;">
                        <div class="col-lg-10 col-xl-8 col-xxl-8 offset-lg-1 offset-xl-2 offset-xxl-2 text-white order-lg-2 showcase-img" style="padding: 0px;min-height: 0px;"><img class="img-fluid" src="/assets/img/ADC-banner.jpg?h=4645605a576fb527653367960c91bd22" style="border-radius: 17px;border: 9.5px solid rgb(247,243,243) ;"></div>
                    </div>
                    <div class="row g-0" style="margin-top: 20px;">
                        <div class="col-lg-10 col-xxl-12 offset-lg-1 offset-xxl-0 my-auto order-lg-1 showcase-text" style="padding: 15px;text-align: center;">
                            <h4>ADCx India Talk Submission</h4>
                            <p class="lead text-center mb-0" style="text-align: justify;">The talk submission form for ADCx India 2024 is live now. For more details, check out the link below.</p><a class="btn btn-dark" role="button" style="margin-top: 21px;" href="https://audio.dev/adcx-india-2024" target="_blank">Submit a talk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center text-white call-to-action" id="contactus">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    <h2 class="mb-4">Contact us</h2>
                    <p>We will do our best to answer your request as soon as possible. We recommend you to send us your request via email.</p>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative"><a class="btn btn-light" role="button" href="mailto:musictechcommunity.india@gmail.com">Send Email</a></div>
            </div>
        </div>
    </section>
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xl-4 col-xxl-3 offset-xxl-0 text-center">
                    <p style="margin-bottom: 0px;"><span style="color: rgb(0, 40, 60); background-color: rgb(255, 255, 255);">© 2023</span>&nbsp;| All Rights Reserved.</p>
                </div>
                <div class="col-lg-2 col-xl-2 col-xxl-2 offset-lg-6 offset-xxl-7 text-center">
                    <ul class="list-inline" style="margin-top: 12px;">
                        <li class="list-inline-item"><a href="https://www.facebook.com/musictech.india" target="_blank"><i class="fa fa-facebook fs-4 fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/musictechindia" target="_blank"><i class="fa fa-twitter fs-4 fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js?h=a52d057774a957ffc5c4e3aabf79520a"></script>
</body>

</html>